/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.sprite-add {
  background-image: url(../img/sprite.png);
  background-position: 0px -1200px;
  width: 512px;
  height: 512px;
}
.sprite-add_habit {
  background-image: url(../img/sprite.png);
  background-position: -812px -1200px;
  width: 30px;
  height: 30px;
}
.sprite-eat {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 600px;
  height: 600px;
}
.sprite-image-4 {
  background-image: url(../img/sprite.png);
  background-position: -1200px -600px;
  width: 600px;
  height: 600px;
}
.sprite-logout {
  background-image: url(../img/sprite.png);
  background-position: -842px -1200px;
  width: 30px;
  height: 30px;
}
.sprite-no-image {
  background-image: url(../img/sprite.png);
  background-position: -512px -1200px;
  width: 300px;
  height: 300px;
}
.sprite-run {
  background-image: url(../img/sprite.png);
  background-position: 0px -600px;
  width: 600px;
  height: 600px;
}
.sprite-salad {
  background-image: url(../img/sprite.png);
  background-position: -600px -600px;
  width: 600px;
  height: 600px;
}
.sprite-settings {
  background-image: url(../img/sprite.png);
  background-position: -872px -1200px;
  width: 30px;
  height: 30px;
}
.sprite-sleep {
  background-image: url(../img/sprite.png);
  background-position: -1200px 0px;
  width: 600px;
  height: 600px;
}
.sprite-smoke {
  background-image: url(../img/sprite.png);
  background-position: -600px 0px;
  width: 600px;
  height: 600px;
}
