/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-sprite_add {
  background-image: url(sprite.png);
  background-position: -600px -1200px;
  width: 512px;
  height: 512px;
}
.icon-sprite_add_habit {
  background-image: url(sprite.png);
  background-position: 0px -1200px;
  width: 600px;
  height: 600px;
}
.icon-sprite_eat {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 600px;
  height: 600px;
}
.icon-sprite_image-4 {
  background-image: url(sprite.png);
  background-position: -1200px -600px;
  width: 600px;
  height: 600px;
}
.icon-sprite_logout {
  background-image: url(sprite.png);
  background-position: -1800px 0px;
  width: 411px;
  height: 418px;
}
.icon-sprite_no-image {
  background-image: url(sprite.png);
  background-position: -1800px -418px;
  width: 300px;
  height: 300px;
}
.icon-sprite_run {
  background-image: url(sprite.png);
  background-position: 0px -600px;
  width: 600px;
  height: 600px;
}
.icon-sprite_salad {
  background-image: url(sprite.png);
  background-position: -600px -600px;
  width: 600px;
  height: 600px;
}
.icon-sprite_settings {
  background-image: url(sprite.png);
  background-position: -1112px -1200px;
  width: 448px;
  height: 446px;
}
.icon-sprite_sleep {
  background-image: url(sprite.png);
  background-position: -1200px 0px;
  width: 600px;
  height: 600px;
}
.icon-sprite_smoke {
  background-image: url(sprite.png);
  background-position: -600px 0px;
  width: 600px;
  height: 600px;
}
